################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SplitArrayIntoEqualGroups/.vs/SplitArrayIntoEqualGroups
/SplitArrayIntoEqualGroups/SplitArrayIntoEqualGroups/bin/Debug/netcoreapp3.0
/SplitArrayIntoEqualGroups/SplitArrayIntoEqualGroups/obj
